<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MedHacks 2020</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png">
</head>

<body>
    <div class="header">
        MedHacks 2020 - Personalized Medicine: Redefining Cancer Treatment
        <h6>Project By: An Nan Pan, Bilun Sun, Mahad Janjua, Zheng Yu Cui</h6>
    </div>
    <div id="card1">
        <div class="cardtitle">About</div>
        <hr>
        <div class="cardbody"></div>
    </div>
    <div id="card2">
        <div class="cardtitle">Results</div>
        <hr>
        <div class="cardbody"></div>
    </div>
    <div id="card3">
        <div class="cardtitle">Try it Yourself</div>
        <hr>
        <div class="cardbody">
            <form>
                <input type="textbox">
            </form>
        </div>
    </div>
    <div id="card4">
        <div class="cardtitle">About Us</div>
        <hr>
        <div class="cardbody"></div>
    </div>
</body>
