<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MedHacks 2020</title>
  <link href= "{{url_for('static',filename='styles/index.css')}}" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png">
</head>

<body>
    <div class="header">
        MedHacks 2020 - Personalized Medicine: Redefining Cancer Treatment
        <h6>Project By: An Nan Pan, Bilun Sun, Mahad Janjua, Zheng Yu Cui</h6>
    </div>
    <div id="card1">
        <div class="cardtitle">About</div>
        <hr>
        <div class="cardbody">
            The interpretation of genetic mutations in sequenced cancer tumor is 
            currently a long and tedious process, done manually based on clinical literature. 
            The Memorial Sloan Kettering Cancer Center has launched a challenge in 
            conjunction with Kaggle for a Machine Learning program that can read clinical 
            texts and classify genetic mutations automatically.
        <br><br>
            EXPLAIN WHAT WE DID?
        </div>
    </div>
    <div id="card2">
        <div class="cardtitle">Results</div>
        <hr>
        <div class="cardbody">NEED TO ADD RESULTS</div>
    </div>
    <div id="card3">
        <div class="cardtitle">Try it Yourself</div>
        <hr>
        <div class="cardbody">
            <form action="/" method="POST">
                <textarea name="userinput" cols="200" rows="6"></textarea>
            </br>
                <input id="button" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div id="card4">
        <div class="cardtitle">About Us</div>
        <hr>
        <div class="cardbody">
            <table width="100%" style="text-align:center">
                <tr>
                    <td>An Nan</td>
                    <td>Bilun</td>
                    <td>Mahad</td>
                    <td>Zheng</td>
                </tr>
                <tr>
                    <td><img class="icon" src="/static/annan.png"></td>
                    <td><img class="icon" src="/static/bilun.png"></td>
                    <td><img class="icon" src="/static/bilun.png"></td>
                    <td><img class="icon" src="/static/zheng.png"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
